.main__cards .card:first-child {
  margin: 10rem auto 2rem;
}

.card {
  width: 90%;
  margin: 2rem auto;
  border-radius: 1px;
  box-shadow: 0 1px 1px gray;

  .image-container {
    img {
      @include responsive-image();
    }
  }

  .content {
    padding: 2rem;

    .title {
      font-family: 'Miriam Libre Regular', $base-fonts;
      font-size: 2rem;
    }

    .sub-title {
      font-family: 'Miriam Libre Regular', $base-fonts;
      font-size: 3rem;
    }

    .small-text {
      font-size: 2rem;
    }
  }

  .card-dark {
    background: #2a2a2a;

    .title {
      color: $base-red;
    }

    .sub-title {
      color: white;
    }
  }
}

.card-info {
  .content {
    padding: 2rem 0;

    .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 97%;
      margin-left: 2rem;
      border-bottom: 1px solid #ffffff4f;
      padding: 1rem 0;
    }

    .title {
      font-family: 'Miriam Libre Regular', $base-fonts;
      font-size: 3rem;
      color:  white;
    }

    .sub-content {
      padding: 2rem 2rem .5rem;

      .text {
        font-family: 'Open Sans Pro', $base-fonts;
        color: white;
        font-size: 1.75rem;
      }

      .input-container {
        width: 100%;
        input {
          width: 65%;
          padding: 1.37rem 1.5rem;
          border: none;
          border-bottom: white solid 3px;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          margin-top: 3rem;
        }

        button {
          font-family: 'Miriam Libre Regular', $base-fonts;
          width: 35%;
          padding: 1.5rem;
          background: #d6514d;
          border: none;
          border-radius: 2px;
          color: white;
          line-height: 1.2;
          letter-spacing: .02em;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }

    .image-container {
      width: 15%;
      margin-right: 3rem;
      img {
        @include responsive-image();
      }
    }
  }
}

.card-red {
  background: $base-red;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.main__cards .card:first-child {
  //margin: 10rem auto 2rem;
  grid-column: 1 / span 2;
  //grid-column: <start-line> / <end-line> | <start-line> / span <value>;
  //grid-row: <start-line> / <end-line> | <start-line> / span <value>;
}