.main__cards .card:first-child {
  margin: 10rem auto 2rem;
}

.card {
  width: 90%;
  margin: 2rem auto;
  border-radius: 1px;
  box-shadow: 0 1px 1px gray;

  .image-container {
    img {
      @include responsive-image();
    }
  }

  .content {
    padding: 2rem;

    .title {
      font-family: 'Miriam Libre Regular', $base-fonts;
      font-size: 2rem;
    }

    .sub-title {
      font-family: 'Miriam Libre Regular', $base-fonts;
      font-size: 3rem;
    }
  }

  .card-dark {
    background: #2a2a2a;

    .title {
      color: $base-red;
    }

    .sub-title {
      color: white;
    }
  }
}

