.header {
  &__main-content {
    .logo-container {
      width: 50%;
      svg {
        color: $base-red;
      }
    }

    .content {
      .title {
        font-family: 'Miriam Libre Regular', $base-fonts;
      }
    }
  }

  &__search {
    .search-input {

    }

    .search-icon {

    }
  }
}