$base-fonts: 'Arial', 'Helvetica', sans-serif;

@font-face {
  font-family: 'Miriam Libre Regular';
  src: url('../fonts/miriam-libre-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans Pro';
  src: url('../fonts/open_sans_pro.woff2') format('woff2');
}